@import url(hole.css);
@import url(docpart_templates.css);

* {
  font-family:     Arial, Helvetica, sans-serif;
}

p {
  font-size:       8px;
}

h1 {
  font-size:       12px;
  text-align:      center;
  font-weight:     bold;
}

h2 {
  font-size:       10px;
  text-align:      center;
  font-weight:     bold;
}

h3 {
  font-size:       8px;
  font-weight:     bold;
}
table{
  table-layout: fixed;
  width:100%;
}

td {
  border-collapse: collapse;
  border:          1px solid #000000;
}

th {
  border-collapse: collapse;
  border:          1px solid #000000;
}

.footer {
  width:           100%;
}

.metrics {
  height:          1in;
}

.metrics td {
  width:           16.66%;
}
.LSAETable{
  width:           3.5in;
}
.LSAETable p{
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}
.body {
  /* height:       8in;
  width:           7.5in; */
}
.bodyTableTop{
  width:50%;
  height:4in;
}
.bodyTableBot{
  width:50%;
  height:4.3in;
}
.spdTable1 {
  height:2.5in;
  width:100%;
}
.spdTable2 {
  height:0.75in;
  width:100%;
}
.EcoTable{
  width:3.5in;
}
.EcoTable td p{
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}
.EcoTable th p{
  text-align: left;
}
.ratio{
  width:3.5in;
}
