@import url(hole.css);
@import url(docpart_templates.css);

* {
  font-family:      Arial, Helvetica, sans-serif;
}

p {
  font-size:        6pt;
  white-space:      normal;
}

h1 {
  font-size:        11pt;
  text-align:       center;
  font-weight:      bold;
  white-space:      pre-wrap;
}

.header {
  font-size:        9pt;
  text-align:       center;
  font-weight:      bold;
  white-space:      pre-wrap;
}

h2 {
  font-size:        9pt;
  text-align:       center;
  font-weight:      bold;
  white-space:      pre-wrap;
}

h3 {
  font-size:        8pt;
  font-weight:      bold;
  text-align:       center;
  white-space:      pre-wrap;
}

table {
  border-collapse:  collapse;
  table-layout:     fixed;
  width:            100%;
  border:           0;
}

tr {
  border-collapse:  collapse;
  border:           0;
}

td {
  border-collapse:  collapse;
  padding:          0;
}

th {
  border-collapse:  collapse;
}

a {
  font-style:       italic;
}

.footer {
  width:            100%;
}

.footer td {
  width:            33%;
  height:           35pt;
  text-align:       center;
  white-space:      pre-wrap;
}

div.metrics {
  height:           72pt;
}

.metrics p {
  margin-left:      5px;
  vertical-align:   baseline;
}

.leftLine {
  width:            16.66%;
  border-left:      1px solid #000000;
}

.leftLine p {
  font-size:        8pt;
}

.Cata {
  font-size:        7pt;
  padding:          0px;
  margin:           0px;
}

.LSAETable {
  width:            100%;
}

.LSAETable td {
  border:           1 solid #000000;
}

.LSAEhead {
  border:           1 solid #000000;
  font-weight:      bold;
  text-align:       center;
  vertical-align:   middle;
}

.LSAETable th {
  border:           1 solid #000000;
  font-weight:      bold;
  text-align:       center;
  vertical-align:   bottom;
}

.LSAETable td p {
  text-align:       center;
}

.LSAETable tr > th p {
  text-align:       center;
  padding-top:      5px;
  padding-bottom:   5px;
}

.maxAll {
  font-weight:      bold;
}

.maxAllRed {
  padding:          5px;
  background-color: #FB9A99;
  font-weight:      bold;
}

.max {
  font-style:       italic;
}
.maxRed {
  padding:          5px;
  background-color: #FB9A99;
  font-style:       italic;
}
.Red {
  padding:          5px;
  background-color: #FB9A99;
}

.bodyTableTop {
  width:            50%;
  height:           280pt;
}

.bodyTableBot {
  width:            50%;
  height:           296pt;
}

.spdTable1 {
  width:            100%;
  height:           150pt;
}

.spdTable2 {
  width:            100%;
  height:           65pt;
}

.EcoTable {
  width:            100%;
}

.EcoTable td {
  border:           1px solid #000000;
}

.EcoTable th {
  border:           1px solid #000000;
  vertical-align:   middle;
}

.EcoTable td p {
  text-align:       center;
  padding-top:      2px;
  padding-bottom:   2px;
}

.EcoTable tr > th > p {
  padding-left:     5px;
}

.EcoTable th p {
  text-align:       left;
  padding-left:     5px;
}

.EcoTable .fixture {
  width:            15%;
  font-weight:      bold;
}
.EcoTable .fixture p {
white-space:      pre-wrap;
}
.EcoTable .header {
  font-weight:      bold;
}

.CostPlots {
  width:            100%;
}

.CostPlots td.data {
  width:            100%;
  height:           120pt;
}

.page2 {
  height:           215pt;
  width:            50%;
}

.ratio {
  width:            100%;
}

.ratio p {
  padding-top:      5px;
  padding-bottom:   5px;
  text-align:       center;
  white-space:      pre-wrap;
}

.inv {
  color:            #ffffff;
}

.ratio td {
  border:           1px solid #000000;
}

.ratio th {
  border:           1px solid #000000;
}

.footNotes {
  font-size:        6pt;
  line-height:      9;
  vertical-align:   text-bottom;
}

.img {
  text-align:       center;
}
