@import url(hole.css);
@import url(docpart_templates.css);

* {
    font-family: Arial;
}

body {
    width: 8.5in;
    height: 11in;
    padding: 0;
    margin: 0;
}
p {
    font-size: 8pt;
    padding:0;
    margin:0;
}
h1 {
    color: #000000;
    font-size: 14pt;
    font-weight: bold;
}
h2 {
    text-align:center;
    color: #000000;
    font-size: 13pt;
    font-weight: bold;
}
h3 {
    color: #000000;
    font-size: 12pt;
    font-weight: bold;
}
table {
    border: 0px;
    font-size: 10px;
}
a {
    color: #1a0dab;
    text-decoration: underline;
}
li {

}
.tableLeft {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}
.tableRow {
    border-top-style: none;
    border-right-style: none;
}
.tableBody {
    vertical-align: text-bottom;
    border-left-width: thin;
    border-left-style: solid;
    border-bottom-style: none;
}
div.header {
    width: 100%;
    height: 10%;
}
div.centerBody {
    width: 100%;
}
div.bottomBody {
    width: 100%;
    height: 10%;
}
.centerBody .TopLeft {
    width: 50%;
    height: 4.4in;
}
.centerBody .TopRight {
    width: 50%;
    height: 4.4in;
}
.centerBody .BottomLeft {
    width: 50%;
    height: 4.4in;
}
.centerBody .BottomRight {
    width: 50%;
    height: 4.4in;
}
.centerBody table{
    width:100%;
}
table.Eco {
    width:3in;
    vertical-align: text-bottom;
}