@import url(hole.css);
@import url(docpart_templates.css);

* {
	font-family: Arial;
	padding: 0;
	margin: 0;
}

body {
    width: 8.5in;
    height: 11in;
    padding: 0;
    margin: 0;
}
p {
	font-size: 8pt;
	padding:0;
	margin:0;
	vertical-align: baseline;
}
h1 {
    color: #000000;
    font-size: 12pt;
    font-weight: bold;
}
h2 {
    text-align:center;
	vertical-align:baseline;
	white-space:nowrap;
    color: #000000;
    font-size: 10pt;
    font-weight: bold;
	margin:0;
}
h3 {
	text-align:center;
	vertical-align:baseline;
	white-space:nowrap;
    color: #000000;
    font-size: 9pt;
    font-weight: bold;
}
table {
    border: 0px;
    font-size: 10px;
	width:100%;
}
a {
    color: #1a0dab;
    text-decoration: underline;
}
li {

}
.tableLeft {
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: 16%;
}
.tableRow {
    border-top-style: none;
    border-right-style: none;
}
.tableBody {
	vertical-align: text-bottom;
	border-left-width: thin;
	border-left-style: solid;
	border-bottom-style: none;
	width: 16%;
}
div.header {
    width: 100%;
    height: 10%;
}
div.centerBody {
    width: 100%;
}
div.bottomBody {
    width: 100%;
}
.centerBody .TopLeft {
    width: 50%
    height: 4.4in;
	width: 3.75in;
}
.centerBody .TopRight {
    width: 50%
    height: 4.4in;
	text-align:center;
	vertical-align:baseline;
}
.centerBody .BottomLeft {
	text-align:center;
	vertical-align:baseline;
    width: 50%;
    height: 4.in;
}
.centerBody .BottomRight {
	vertical-align:baseline;
	width: 3.75in;

	height: 4.in;
}
.centerBody .BottomRight .Notes{
	text-align:left;
	text-size:6pt;
}
.centerBody table{
text-align:center;
}
table.Eco {
	table-layout: fixed;

	vertical-align: text-bottom;
	white-space: nowrap;
	text-align:center;
	overflow:hidden;
	display: inline;
	margin: 0px;
	padding: 0px;
	border-collapse:collapse;
	border:thin solid #000;
}
table.Eco td{
	border-collapse:collapse;
	border:thin solid #000;
}
table.Eco th{
	border-collapse:collapse;
	border:thin solid #000;
	text-align:center;
}
table.Eco .EcoLeft {
	text-align: left;
	
}
table.Eco .EcoLeft p {
	font-size:6pt;
}
.header table{
	height: 1.1in;
}
.TableIMG {
	text-align:center;
	vertical-align:middle;
}
.data {
	text-align:center;
}
.container td {
	border-collapse:collapse;
	border:thin solid #000;
}
.LSAETable p{
	padding-top:2px;
	padding-bottom:2px;
	font-size:6pt;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
	}
.LSAETable {
	border-collapse:collapse;
	text-align:center;
	width:100%;
	border: 1px solid #000;
	}
.Notes{
	
}.LSAETable tr th {
	border: 1px solid #000;
}
.bottomBody td {
	width:33%;
	
}
.bottomBody p{
	text-align:center;
}
